<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

<style>
<!--  html { -->
<!--   background-image: url('https://picsum.photos/2000'); -->
<!--   background-repeat: no-repeat; -->
<!--   background-attachment: fixed;   -->
<!--   background-size: cover; -->
<!-- } -->
body {
  background-color: rgba(0,0,0,0.4);
  min-height: 100vh;
  margin: 0;
}
</style>

<html lang = "en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Karaoke Party</title>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>
