{% extends "layout.html" %}

{% block body %}
    <h2>KARAOKE QUEUE</h2>
    <body>Add songs to the <b>QUEUE</b> below!</body>

    <div>
      <form action="{{ url_for('add_to_queue') }}" method="post">
        <input type="text" name="song_name" autocomplete="off" required autofocus placeholder="Song Name">
        <br>
        <input type="url" name="song_url" autocomplete="off" required autofocus placeholder="Song URL">
        <br>
        <label for="names">Enter names (comma-separated):</label><br>
        <textarea name="singers" rows="4" cols="30" placeholder="Jose, Emilio, Diego"></textarea>

        <button type="submit">Confirm</button>
      </form>
    </div>
    <br>
    <div>
      <h3><b>QUEUE</b></h3>
      <ol id="songs_List"></ol>
      <script>
        let songs = '{{ songs }}';
        if(songs != '')
        {
          let list = document.getElementById("songs_List");
          songs.split("*^%").forEach((song) => {
            let li = document.createElement("li");
            li.innerText = song;
            list.appendChild(li);
          });
        }
        else
        {
          let li = document.createElement("li");
          li.innerText = "No Songs on QUEUE";
          document.getElementById("songs_List").appendChild(li);
        }
      </script>
    </div>

{% endblock %}
