{% extends "layout.html" %}

{% block body %}
    <h1>Karaoke Party</h1>
    <h2>{{ song_name }}</h2>

    <div id="player"></div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
      let player;

      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: '{{song_id}}',
          width: '100%',
          height: 720,
          playerVars: {
            'autoplay': 0,
            'controls': 1
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      
      function onPlayerReady(event) {
        //player.playVideo()
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          //Clicked play make it allowfullscreen
          player.getIframe().requestFullscreen();
        }
        if (event.data == YT.PlayerState.ENDED) {
          window.location.href = '{{ url_for('visualizer') }}'
        }
      }

    </script>


{% endblock %}
