{% extends "layout.html" %}

{% block body %}
    <center>
    <!-- <h2>Karaoke Party</h2> -->
    {% if singers != "" %}
      <h2>{{ song_name }} → 🎙️{{ singers }}</h2>
    {% else %} 
      <h2>{{ song_name }}</h2>
    {% endif %}

    </center>

    <center>
      <div id="player" class="player"></div>
    </center>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
      let player;
      let song_urls = "{{ vid_ids }}".split(',');
      let url_index = 0;
      let urls_list_length = song_urls.length;

      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: song_urls[url_index],
          width: '100%',
          height: 720,
          playerVars: {
            'autoplay': 0,
            'controls': 1
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
            'onError' : onPlayerError
          }
        });

        UpdateUrlIndexDisplay();
      }
      
      function onPlayerReady(event) {
        //player.playVideo();
        setTimeout(function () {
          player.playVideo();
          player.getIframe().requestFullscreen();
        }, 5000);
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          //Clicked play make it allowfullscreen
          player.getIframe().requestFullscreen();
        }
        if (event.data == YT.PlayerState.ENDED) {
          advance_queue()
        }
      }

      function advance_queue() { 
        fetch('/advance_queue', {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({song_id: '{{ song_id }}'})
        })
          .then(() => {
            window.location.href = '{{ url_for('visualizer') }}'
          });
      }

      function onPlayerError(event) {
        if (event.data === 101 || event.data === 150)
        {
          //Change url, if no more urls show error
          if (url_index + 1 < urls_list_length)
          {
            cycleUrl(1)
          } else {
            document.getElementById("error").innerHTML = "<h3>Video can't be embeded, Please play on the official Youtube Page and Skip the song when ready <input type='button' value='Skip' onClick='advance_queue();' /> </h3>";
          }

        }
      }

      function cycleUrl(dir) {
        url_index = ((url_index + dir) % urls_list_length + urls_list_length) % urls_list_length;
        player.cueVideoById(song_urls[url_index]);
        UpdateUrlIndexDisplay();
      }

      function UpdateUrlIndexDisplay() {
        document.getElementById("url_index_display").innerHTML = (url_index + 1) + "/" + song_urls.length;
      }

    </script>
    
    <h6>
      If you don't like the video you can change it here:
    <img class='Button' onClick="cycleUrl(-1)" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-vector%2F20250513%2Fourmid%2Fpngtree-red-neon-left-arrow-png-image_16258866.png&f=1&nofb=1&ipt=ec09e00501436ea9f13d745607189bcacd83136cb402e877330a53ac23114d84" alt="←">
    <img class='Button' onClick="cycleUrl(1)" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2012%2F04%2F02%2F15%2F56%2Fright-24823_1280.png&f=1&nofb=1&ipt=e517fb0dd86938b557dca3fabd89e15344e8165d5e63d744db06ad442124377b" alt="→">
    <!-- <input class="Button" type="button" value="←" onClick="cycleUrl(-1);" /> -->
    <!-- <input class="Button" type="button" value="→" onClick="cycleUrl(0);" /> -->
    <div id="url_index_display" style="display: inline-block;"> 0/0</div>
    </h6>

    <div id="error" style="color: red;"></div>

    {% if next_song_name != "" %}
      <div>
        <h4>NEXT UP: {{ next_song_name }}
        {% if next_singers %}
           → 🎙️{{ next_singers}}
        {% endif %}
        </h4>
      </div>
    {% else %} 
      <div><h4>NEXT UP: THE QUEUE IS EMPTY, ADD MORE SONGS</h4></div>
    {% endif %}

{% endblock %}
